.scroll-stack-scroller {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: visible;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: scroll-position;
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .scroll-stack-scroller::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .scroll-stack-inner {
    padding: 2rem 5rem 10rem;
    min-height: 200vh;
  }
  
  .scroll-stack-card-wrapper {
    position: relative;
  }
  
  .scroll-stack-card {
    transform-origin: top center;
    will-change: transform, filter;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    min-height: 20rem;
    width: 100%;
    margin: 30px 0;
    padding: 3rem;
    border-radius: 40px;
    box-sizing: border-box;
    background: rgb(18, 18, 18);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* Improve mobile performance */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    opacity: 1 !important;
  }
  
  .scroll-stack-end {
    width: 100%;
    height: 1px;
  }
  